/* src/Category.css */

.category-page {
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product img:hover {
    transform: scale(1.1);
}
